@import "~bulma";

body, html, div, p, span {
  font-family: Trebuchet MS;
}

.columns:last-child {
  margin-bottom: 0.75rem !important;
}

@media screen and (max-width: 768px){
  .mobile-flex {
    display: flex;
    flex-direction: column;
  }
  .mobile-flex-self-center{
    display: flex;
    align-self: center;
  }
  .mobile-section-padding {
    padding: 1.5rem 1.5rem 0;
  }
}
@media screen and (max-width: 1023px){
  .tablet-section-padding {
    padding: 1.5rem 1.5rem 0;
  }
}
@media screen and (max-height: 701px){
  .tablet-section-padding {
    padding: 1.5rem 1.5rem 0;
  }
}